
/*  bhoechie tab */
div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 50px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

    div.bhoechie-tab-menu div.list-group {
        margin-bottom: 0;
    }

        div.bhoechie-tab-menu div.list-group > a {
            margin-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group > a .glyphicon,
            div.bhoechie-tab-menu div.list-group > a .fa {
                color: #5A55A3;
            }

            div.bhoechie-tab-menu div.list-group > a:first-child {
                border-top-right-radius: 0;
                -moz-border-top-right-radius: 0;
            }

            div.bhoechie-tab-menu div.list-group > a:last-child {
                border-bottom-right-radius: 0;
                -moz-border-bottom-right-radius: 0;
            }

            div.bhoechie-tab-menu div.list-group > a.active,
            div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
            div.bhoechie-tab-menu div.list-group > a.active .fa {
                background-color: #5A55A3;
                background-image: #5A55A3;
                color: #ffffff;
            }

                div.bhoechie-tab-menu div.list-group > a.active:after {
                    content: '';
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    margin-top: -13px;
                    border-left: 0;
                    border-bottom: 13px solid transparent;
                    border-top: 13px solid transparent;
                    border-left: 10px solid #5A55A3;
                }

div.bhoechie-tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}


input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: 2px solid #03b1ce;
}

.tital {
    font-size: 16px;
    font-weight: 500;
}

.bot-border {
    border-bottom: 1px #f8f8f8 solid;
    margin: 5px 0 5px 0
}

.shape {
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    -ms-transform: rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(360deg); /* Safari and Chrome */
    transform: rotate(360deg);
}

.offer {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    overflow: hidden;
}

    .offer:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: rotate scale(1.1);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

.shape {
    border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}

.offer-radius {
    border-radius: 7px;
}

.offer-danger {
    border-color: #d9534f;
}

    .offer-danger .shape {
        border-color: transparent #d9534f transparent transparent;
    }

.offer-success {
    border-color: #5cb85c;
}

    .offer-success .shape {
        border-color: transparent #5cb85c transparent transparent;
    }

.offer-default {
    border-color: #999999;
}

    .offer-default .shape {
        border-color: transparent #999999 transparent transparent;
    }

.offer-primary {
    border-color: #428bca;
}

    .offer-primary .shape {
        border-color: transparent #428bca transparent transparent;
    }

.offer-info {
    border-color: #5bc0de;
}

    .offer-info .shape {
        border-color: transparent #5bc0de transparent transparent;
    }

.offer-warning {
    border-color: #f0ad4e;
}

    .offer-warning .shape {
        border-color: transparent #f0ad4e transparent transparent;
    }

.shape-text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    -ms-transform: rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
    transform: rotate(30deg);
}

.offer-content {
    padding: 0 20px 10px;
}

@media (min-width: 487px) {
    .container {
        max-width: 750px;
    }

    .col-sm-6 {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container {
        max-width: 970px;
    }

    .col-md-4 {
        width: 33.33333333333333%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .col-lg-3 {
        width: 25%;
    }
}


*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: sans-serif;
    background: #f6f9fa;
}

h1 {
    color: #ccc;
    text-align: center;
}

a {
    color: #ccc;
    text-decoration: none;
    outline: none;
}

/*Fun begins*/
.tab_container {
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
    position: relative;
}

input, section {
    clear: both;
    padding-top: 10px;
    display: none;
}

label {
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 20%;
    padding: 1.5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
    padding: 20px;
    background: #fff;
    color: #999;
    border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}

.tab_container .tab-content h3 {
    text-align: center;
}

.tab_container [id^="tab"]:checked + label {
    background: #fff;
    box-shadow: inset 0 3px #0CE;
}

    .tab_container [id^="tab"]:checked + label .fa {
        color: #0CE;
    }

label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
    label span {
        font-size: 14px;
    }

    label .fa {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    label span {
        display: none;
    }

    label .fa {
        font-size: 16px;
    }

    .tab_container {
        width: 98%;
    }
}

/*Content Animation*/
@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.process-step .btn:focus {
    outline: none
}

.process {
    display: table;
    width: 100%;
    position: relative
}

.process-row {
    display: table-row
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important
}

.process-row:before {
    top: 40px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: green;
    z-order: 0
}

.process-step {
    display: table-cell;
    text-align: center;
    position: relative
}

    .process-step p {
        margin-top: 4px
    }

.btn-circle {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%
}

.price-block {
    border: 1px solid #e5eae8;
    background-color: #fff;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 0px 0px 5px 5px;
    margin-top: -1px;
}

.price-head {
    background-color: #f0f4f2;
    padding: 4px 0px 15px 30px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #e5eae8;
}

.price-block ul {
    padding: 0;
    list-style: none;
    border-bottom: 1px #d7dcda dashed;
    margin-bottom: 16px;
    margin-top: 15px;
    padding-bottom: 16px;
}

    .price-block ul li {
        color: #676462;
        line-height: 24px;
        font-size: 13px;
        font-weight: 500;
    }

.price-content {
    position: relative;
}

.price-text {
    color: #272625;
    position: absolute;
    font-weight: 500;
    top: -2px;
    right: 0px;
}