
@{
    ViewBag.Title = "Delivery Option";
    Layout = "~/Views/Shared/_LayoutF.cshtml";
}

<h2 class="title text-center">@ViewBag.Title</h2>

<div class="row">

    <form method="post">
        <div>
            <label><input type="radio" name="colorRadio" value="Collect"> Collect at our store</label>
            <label><input type="radio" name="colorRadio" value="StandardDelivery"> Standard Delivery</label>
        </div>

        <div class="Collect box" hidden="">
            Collect your order at our warehouse.
            <br />
            <i class="fa fa-map-marker"></i>  172 Wood Rd, Montclair, Durban, 4004
            <br />
            <i class="fa fa-clock-o"></i>  Monday - Friday
            <br />
            <i class="fa fa-clock-o"></i>  8:30 am - 17:00 pm working hours
            <br />
            <a href="@Url.Action("PlaceOrder","Shopping", new {id = "collect" })" class="btn btn-default"> Continue</a>
        </div>

        <div class="StandardDelivery box col-md-4" hidden>
            Delivery Address
            <br />

            <table class="table">
                <tr>
                    <td>Street</td>
                    <td><input type="text" class="form-control" name="Street" required="required" placeholder="Street " /></td>
                </tr>
                <tr>
                    <td>City/Town</td>
                    <td><input type="text" class="form-control" name="City" required="required" placeholder="City/Town " /></td>
                </tr>
                <tr>
                    <td>Postal Code</td>
                    <td><input type="text" class="form-control" name="PostalCode" required="required" placeholder="Postal Code " /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-default" value="Continue" /></td>
                </tr>
            </table>
        </div>

    </form>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function(){

        $('input[type="radio"]').click(function(){

            var inputValue = $(this).attr("value");

            var targetBox = $("." + inputValue);

            $(".box").not(targetBox).hide();

            $(targetBox).show();
        });
    });

</script>